# =========================
# Python backend
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/

# =========================
# Node / Angular frontend
# =========================
node_modules/
.angular/cache/
dist/
out-tsc/
coverage/

# =========================
# Editors / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-error.log*

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
